.background {
    background: center no-repeat url("http://go2joy.vn/CKFinderJava/userfiles/files/background.png");
  }
  
  .progressBar {
    background-color: rgb(238, 255, 65);
  } 
  
  .watermark {
    background-image: url("https://www1-lw.xda-cdn.com/files/2011/06/watermark.jpg");
    background-size: 57px 57px;
  }